html{
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.container {
  padding: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  text-align: right;
}

header {  
display: flex;
justify-content: space-between;
height: auto;
text-align: left;
color: grey;
}

nav {
margin-left: 670px;
font-size: 16px;
padding-top: 14px;
padding-bottom: 40px;
color: grey;
}
nav a {
  text-decoration: none;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
}
a {
  color: grey;
}

nav a:hover {
  border-bottom: 1px solid #707070;
  
}
.btn {
font-family: 'Montserrat', sans-serif;
border: none;
background-color: #B5DFCE;
color: #707070;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
border-radius: 10px;
transform: translate(0%, 0%);
transition: 0.5s;
}
.btn:hover {
  background-color: #A8D3C1;
  border-bottom: none;
}

main { 
display: flex;
justify-content: space-between;
text-align: left;
padding-top: 20px;
margin-top: 20px;
padding-left: 20px;
padding-bottom: 60px;
}
h1 {
  font-size: 60px;
  color: grey;
}
p {
  font-size: 30px;
  color: grey;
  margin: 10px;
}
h2 {
  text-align: center;
  color: #707070;
  font-size: 35px;
}


.flexContainer {
  display: flex;
  padding: 0px 0px 0px 0px;
  justify-content: center; 
  border: none;
  margin: 20px;
  color: #707070;
}

.box {
  text-align: center;
  height: 300px;
  width: 200px;
  border: none;
  padding: 100px;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 10%;
  box-shadow: 3px 3px #EFEDED;   
}
.column1 {
  background-color: #FCC863;
}
.column1>img {
  margin-top: 40px;
  height: 200px;
  width: auto;
}
.column2 {
  background-color:#C35537;
  color: white;
}
.column2>img {
  margin-top: 45px;
  height: 200px;
  width: auto;
}
.column3 {
  background-color: #B5DFCE;
  }
.column3>img {
  height: 200px;
  width: auto;
  margin-top: 45px;
}
.column4 {
  background-color: #4C6B8A;
  color: white;
  }
.column4>img {
  height: 200px;
  width: auto;
  margin-top: 45px;
}


footer {
  background-color: #EFEDED;   
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  }

footer a {
  text-decoration: none;
  display: inline;
  color: #707070;
  margin: 50px;
  font-size: 16px;
}
